
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&display=swap');
body,
button,
input {
    font-family: 'Montserrat', sans-serif;
    border-radius: 7px;
    box-shadow: 0px 2px 10px -7px 
}
body{
    background-color: hsl(0, 0%, 94%);  
}


form input{
    width: 250px;
    height: 30px;
    border: 1px solid rgb(230, 229, 229);
    
}
button{
    color: white; 

}
.form-container h3{
    margin-left: 5%;
}
.form-container button{
    background-color: rgb(101, 126, 91);
    border: 0px ;
    
   margin: 20px;
    padding-right: 5%;
    padding-top: 1%;
    padding-bottom: 1%;   
    min-width: 100px; 

}

.main-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    
}

.photo,
.card-div{
    display: flex;
    flex-grow: 1;

}
.photo{
    height: 100vh;
    width: 30%
}


.card-logo{
    color: aliceblue;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
   

}
.form-container{
    background-color: hsl(0, 0%, 94%);
    flex-grow: 2;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    min-height: 100%;
}
.signup-card{
    display: flex;
    flex-direction: row;
    background-color: rgb(255, 255, 255);
    align-items: center;
    min-height: 35%;
    box-shadow: 0px 2px 10px -7px 
}

.signup-card li{
    display: flex;
    flex-direction: column;
    padding-left: 10%;
    margin-bottom: 20%;
}

.content{
    display: flex;
    flex-wrap: wrap;
}
