
/* web page default resaet*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&display=swap');
body,
button,
input {
    font-family: 'Montserrat', sans-serif;
    border-radius: 7px;
    box-shadow: 0px 2px 10px -7px 
}

body{
    background-color: hsl(0, 0%, 94%);  
}


.main{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    height: 100vh;
    

    

}
.left{
    
    flex-grow: 1;
    background: url(photo/halie-west-25xggax4bSA-unsplash.jpg);
    background-size: cover;
    color:white;
    min-width: 460px;
    height: 100vh;
    
}

.left .card{
    display: flex;
    background-color: rgb(0, 0, 0, .5);
    margin-top: 20vh;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.left .card h1{
    display: flex;
    align-self: center;
    margin: auto;
}
.left .card .logo{

    height: 100px;
    margin-right: auto;
}
.right{
    flex-grow: 3;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}
.right .upper-text ,
.right .bottom-text{
    background-color: rgb(231, 231, 231);
    flex-grow: 1;
}
.right .upper-text{
    display: flex;
    align-items: end;
}
.right .bottom-text{
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.right .form-container{
    flex-grow: 1;
    background-color: white;
    justify-self: center;
}