
/* web page default resaet*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&display=swap');
body,
button,
input {
    font-family: 'Montserrat', sans-serif;
    border-radius: 7px;
    box-shadow: 0px 2px 10px -7px 
}

body{
    
    background-color: hsl(0, 0%, 94%);  
    border: none;
}


.main{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    height: 100vh;
    

    

}
/*left side*/
.left{
    
    flex-grow: 2;
    background: url(photo/halie-west-25xggax4bSA-unsplash.jpg);
    background-size: cover;
    color:white;
    min-width: 345px;
    height: 100vh;
    
}

.left .card{
    display: flex;
    background-color: rgb(0, 0, 0, .5);
    margin-top: 30vh;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.left .card h1{
    display: flex;
    align-self: center;
    margin: auto;
}
.left .card .logo{

    height: 100px;
    margin-right: auto;
}
/*right side*/
.right{
    flex-grow: 3;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

/*upper section*/
.right .upper-text ,
.right .bottom-text{

    flex-grow: 1;
}
.right .upper-text{
    display: flex;
    align-items: end;
}
.right .upper-text h3{
    margin-left: 2%;
}
/*bottom section*/
.right .bottom-text{
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;


}
.right .bottom-text h4{
    margin-left: 2%;
}
.right .bottom-text button{
    
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding:  10px 50px;
    border: 0px;
    
    background-color: #596D48;
    color:white;
}
.right .bottom-text button:hover{
    background-color: #83a06a;
    font-weight: bolder;
    cursor:pointer;
}

/*form control section*/
.right .form-container{
    background-color: white;
    justify-self: center;    
    
}

form input{
    width: 250px;
    height: 30px;
    border: 1px solid #E5E7EB;
    
}

.content{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: rgb(255, 255, 255);
    align-items: center;
    justify-content: center;
    margin: auto;
    box-shadow: 0px 2px 10px -7px ;
}

.content li{
    display: flex;
    flex-direction: column;
    padding-left: 10%;
    margin-bottom: 20%;
}

/*input validation styling*/
input:hover{
    cursor: pointer;
}

input:focus {
    outline-width: 0;
    border-color: rgb(71, 166, 243);
}
input:focus:valid{
    border-color: green;
    
}
input:focus:invalid{
    border-color: red;
    
}

/*link styling*/
a{
    color:#596D48;
}
a:hover{
    color: #83a06a;
    cursor:pointer;
}

